.contact-form {
  width: 90%;
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 5px 5px rgba(0, 0, 225, 0.5);

  input {
    width: 90%;
    padding: 7px;
    margin: 4px 0;
  }

  .notice {
    background-color: yellow;
    line-height: 1.5;
  }
  button {
      padding: 8px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
  }
}
