.aside {
    width: 25%;
    padding: 0 10px;
    border-right: 1px solid black;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    .price-highlight {
        padding: 0 4px;
        border-left: 5px solid blue;
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h4 {
            font-size: 25px;
            margin: 0;
        }
        h6 {
            font-size: 18px;
            margin: 0;
        }
    }

    p {
        line-height: 1.5;
        margin: 25px 0;
    }
    h3 {
        margin: 0;
        font-size: 30px;
        font-weight: normal;
    }
}